.Rproj.user
.Rhistory
.RData
.Ruserdata

output_data/Climate_velocity

raw_data/Climate_velocity/HadISST_sst.nc
raw_data/Climate_velocity/SST_?.tif


raw_data/WDPA/Clean_WDPA_Sept2022.dbf
raw_data/WDPA/Clean_WDPA_Sept2022.prj
raw_data/WDPA/Clean_WDPA_Sept2022.shp
raw_data/WDPA/Clean_WDPA_Sept2022.shx